@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "../../../../../shared/styles/Variables.scss";

*,
*:after,
*:before {
	box-sizing: border-box;
}

.draft-approval-tabs {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;

	.tabs {
		display: flex;
		position: relative;
		background-color: $grey-color;
		box-shadow: 0 0 1px 0 rgba($primary-color, 0.15), 0 6px 12px 0 rgba($primary-color, 0.15);
		border-radius: 6px; // just a high number to create pill effect

		* {
			z-index: 2;
		}

		height: 30px;

		input[type="radio"] {
			display: none;
		}

		.tab {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 30px;
			width: 18rem;
			font-size: $font-size-md;
			font-weight: 600;
			font-family: "Inter";
			color: $white-color;
			border-radius: 6px !important; // just a high number to create pill effect
			cursor: pointer;
			transition: color 0.15s ease-in;
		}

		.notification {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 3rem;
			height: 3rem;
			margin-left: 0.75rem;
			border-radius: 50%;
			background-color: $primary-color;
			color: $white-color;
			transition: 0.15s ease-in;
		}

		input[type="radio"]:checked {
			color: $white-color !important;
		}

		input[id="pending-submission-tab"] {
			&:checked {
				&~.glider {
					transform: translateX(0);
				}
			}
		}

		input[id="pending-review-tab"] {
			&:checked {
				&~.glider {
					transform: translateX(100%);
				}
			}
		}

		.glider {
			position: absolute;
			display: flex;
			height: 30px;
			width: 18rem;
			background-color: $primary-dark;
			color: #fff;
			z-index: 1;
			border-radius: 6px; // just a high number to create pill effect
			transition: 0.15s ease-out;
		}
	}

	@media (max-width: 700px) {
		.tabs {
			transform: scale(0.6);
		}
	}
}