.grid {
  * {
    color: var(--color-text) !important;
  }

  .btn {
    color: white !important;
  }
}

.blue-background-batch {
  background-color: rgb(255, 162, 0);
  color: white;
}

.red-background-batch {
  background-color: red;
  color: white;
}

.green-background-batch {
  background-color: green;
  color: white;
}
