@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "../../../../../shared/styles/Variables.scss";

.view-modal{
    h4{
        font-weight: 900;
        color: var(--color-text);
    }
    hr{
        margin-bottom: 10px;
    }
    p{
        font-size: $font-size-md;
        color: var(--color-text);
    }
}